<html>
<head>
    <% include ../helpers/head %>
</head>

<body>

    <h1 class="results">Who's that Pokémon?</h1>

    <div class="body-container">

    <div class="content">
      <div class="information">
        <p class="unknown inline large">No.???</p>
        <p class="answer pokemon_ID inline large">No.???</p>
        <p class="unknown inline large">???</p>
        <p class="answer pokemon_NAME inline large">???</p>
        <br>
        <p class="pokemon_SPECIES">??? Pokémon</p>
        <p class="height inline">HT</p>
        <p class="pokemon_HEIGHT inline">???</p>
        <br>
        <p class="weight inline">WT</p>
        <p class="pokemon_WEIGHT inline">???</p>
      </div>
      <div class="image unknown"><img src="/images/question-mark.png"></div>
      <div class="image answer pokemon_IMAGE"></div>
      <div class="description">
        <p class="inline">This Pokémon's ability is</p>
        <p class="ability inline caps">???</p>
        <p class="inline">and can use</p> 
        <p class="moveset inline caps"></p> 
        <p class="inline">on its opponents.</p> 
        <p class="newhint_2 inline"><br><br>It can also use</p>
        <p class="newhint_2 inline moveset_2 caps">???</p>
        <p class="newhint_2 inline">in battle.</p>
      </div>
    </div>

  </div>

   <div class="controls" id="control-panel">
      <form class="guess" autocomplete="off" id="guess-form">
        <div class="autocomplete">
          <input type="text" autocomplete="false" placeholder="Guess the Pokémon" id="playerGuess">
        </div>

        <!-- <select display="none" id="playerSelect" data-live-search="true"  title="Guess the Pokémon" class="form-control selectpicker"></select> -->

      </form>

      <div>
        <button class="inline" type="button" onclick="refresh()">
          START
        </button>
        <p class="inline" style="color: white;">Get new Pokémon</p>
      </div>

      <div>
        <button class="inline" type="button" onclick="checkGuess()" id="buttonA">
          A
        </button>
        <p class="inline" style="color: white;">Submit guess</p>

        <button class="inline" type="button" onclick="reveal()" id="buttonB">
          B
        </button>
        <p class="inline" style="color: white;">Give Up</p>
      </div>
    </div>

</body>

</html>